{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{%block styles %}
{{super()}}
<link rel="stylesheet" href="{url_for('static',filename='stylesheets/styles,css')}}">
{%endblock %}
{% block content %}
<div class="container">
    <div class="landingspot">
        <div class="textmiddle">
            <h2 style="text-align: center;font-family:'Berkshire Swash'">My Personal Blog</h2>
            <p><i>{{quotes.quote}}</i></p>
            <p>___{{quote.author}}</p>
        </div>
    </div>
</div>
<div class="container" id="particles-js">
    <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
        <li class="nav-item">
            <a id="cats" class="nav-link"  data-toggle="tab" href="#all" style="color:black"><strong>Post</strong></a>
        </li>
        
    </ul>
    <div class="tab-content">
        <div class="container tab-pane active" id="all"> <br>
        {{macro.display(postes)}} </div>
        
    </div>
</div>
{% endblock %}
