{% macro display(log) %}
<div class="container-fluid">
    <div class="row">
        {% if log %}
            {% for category in log %}
				<div class="col-md-3" >
                    <div class="thumbnail" id="carded">
                        <h5 class="card-header"> {{category.title}}</h5>
						<div class="card-body">
                            <p>{{category.post}}</p>
                            
							<footer class="blockquote-footer text-center"> Posted by: {{category.user.username}}</footer>
							<div>
                                <a href="{{url_for('main.comment',post_id=category.id)}}" class="btn btn-info btn-sm">{{category.comment.count()}}Comments</a>
                                
                                <a href="{{url_for('.delete',post_id=category.id)}}"   style="background-color:rgb(255, 0, 0);color: black;border:2px">Delete</a>
                                
                            </div>
                            </div>
                            </div>
                        </div>
					{% endfor %}
                {% else %}
                    <div class="card w-90 mb-5">
                        <div class="card-body">
                            <p class="card-title"> Category has 0 posts</p>
                        </div>
                    </div>
				{% endif %}
                    </div>
</div>
{% endmacro %}

