<nav class="mb-1 navbar navbar-expand-lg navbar-dark" >
    
        <a class="navbar-brand" href="{{url_for('main.index')}}" style="color: black"style="font-weight: bold"><strong>Blog</strong> </a>
    <div  class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                   
                            <a class="nav-link" href="{{url_for('main.index')}}" style="color: black"style="font-weight: bold">All Blogs</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">                    
                            <a class="nav-link" href="{{url_for('main.new_post')}}"  style="color: black"style="font-weight: bold" >New Blog</a>
                    </li>
                    {% endif %}
                </ul>
            <ul class="navbar-nav ml-auto">
               {% if current_user.is_authenticated %}
        
                <li class="nav-item">
                        <a  href="{{url_for('main.profile',name=current_user.username)}}"style="color: black"style="margin-left:30px">Profile</a></li>
                        <br>
            
            
                <div >
                     <a  href="{{url_for('auth.logout')}}" style="color: black"> Log Out</a>
               
                </div>
            </li>
                
                {% else %}
                <li class="nav-item">
             
               
                 <a href="{{url_for('auth.login')}}" style="margin-right:30px " class="nav-link"> <strong style="color: black" >Log In</strong></a>
                
                </li>
                    <li class="nav-item">
                    <a href="{{url_for('auth.signup')}}" style="margin-right:30px " class="nav-link"><strong  style="color: black" style="font-weight: bold">Sign Up</strong></a>
                </li>
                {% endif %}
                </ul>
        </div>
    </nav>
    
         